<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.testpush" version="1.0.0">

<name>testpush</name>

<description>testpush</description>

<author email="support@phonegap.com" href="http://phonegap.com"> PhoneGap Team</author>

<content src="index.html"/>

<access origin="*" />
<plugin name="phonegap-plugin-push" spec="1.6.0">
    <param name="SENDER_ID" value="244192342021" />
</plugin>
<!--
<gap:plugin name="phonegap-plugin-push" source="npm" />

-->
<platform name="android">
<!-- a preference specific to android only here -->
<uses-permission android:name="android.permission.INTERNET" />
</platform>

<feature name="Device">
<param name="android-package"
value="org.apache.cordova.device.Device"
/>
</feature>
</widget>
